html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body{
    overflow: hidden;
  }
.column {
display: flex;
 width: 100%;
justify-content: center;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 5px;
    width: 200px;
    padding-bottom: 10px;
  }
  img{
      width: 100%;
  }
 
  
.container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  .card span{
      display: flex;
  }
  .btn_create{
      display:block;
      margin-left: 80%;
      margin-bottom:  30px;
  }
  h1{
      color:#637ddb;
      font-size: 40px;
      font-family: Courier, Monaco, monospace;
      text-align: center;
  }
  .btn_del{
background-color: brown;
color: white;
  }
  .btn_del:hover{
    background-color: brown;
    color: white;
      }
  .btn_edit{
border:solid 1px#40a9ff;
color: #40a9ff;
  }
  a{
  color:#637ddb;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .image-detail{
    border-radius: 50%;
    width: 240px;
    height: 240px;
  }

.card-1 {
  box-shadow: 0 1px 3px 3px rgba(74, 59, 216, 0.12), 1px 1px 1px rgba(13, 26, 201, 0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 5px 5px 5px rgba(74, 59, 216, 0.12), 1px 1px 1px  rgba(13, 26, 201, 0.24);
}
